[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = git://github.com/tpope/vim-speeddating.git
    ignore = dirty
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
    ignore = dirty
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule ".vim/bundle/spacehi"]
	path = .vim/bundle/spacehi
	url = git://github.com/vim-scripts/spacehi.vim.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
